.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
}
body {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center;
}